.dropdown {
    position: absolute;
    top: 4rem;
    width: 180px;
    transform: translate(-78%, -8%);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--color-background2);
}

.link {
    padding: 0.5rem 1rem;
    transition: 0.25s;
}

.link:hover {
    color: white;
    background-color: var(--color-dark);
}