.footer {
    width: 100%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: var(--color-background2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 4rem 0;
    min-height: 4rem;
    width: 100%;
    max-width: 800px;
}

.top {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}

.top h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.top p {
    margin: 0.5rem 0;
    padding: 0;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.links a,
.links a:visited{
    text-decoration: none;
    color: var(--color-light);
    transition: all 0.25s;
}

.homeLink,
.homeLink:visited {
    color: white !important;
}

.links a:hover {
    color: var(--color-very-light);
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 8500px) {
    .footer {
        padding: 0 1rem;
    }

    .container {
        margin: 2rem 0;
    }
}