.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  height: 4rem;
  background-color: var(--color-background2);
  box-shadow: 0 2px 5px #000000AA;
  display: flex;
  justify-content: center;
}

.downShifted {
  transform: translateY(3rem);
  transition: transform 0.25s linear;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin: 0 1rem;
}

.logo {
  font-size: 1.5rem;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin: 0 0.5rem;
  font-size: 1rem;
}

.nav a {
  text-decoration: none;
  color: white;
  transition: 0.25s;
}

.nav > a:hover,
.nav > a:active,
.nav > a.active {
  color: var(--color-very-light);
}


.hamburger {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  background-color: var(--color-background2);
  border: 2px solid var(--color-dark);
  color: white;
}

.hamburger:hover {
  background-color: var(--color-dark);
}