.container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.container form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.formEntry {
    margin: 1rem;
}

.formEntry input {
    margin-right: 1rem;
}