.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* .nothing {
  color: #ffc897;
  color: #ffc796;
  color: #ffead2;
  color: #ffa4d4;
  color: #c5c5ff;
  color: #83ffc1;
  color: #ffe276;
  color: #ffe780;
  color: #94eaeb;
  color: #e7bafa;
  color: #e8a68b;
  color: #a4a4f4;
  color: #99e2ff;
  color: #f2e7ea;
  color: #b3ffc7;
  color: #e8a68b;
  color: #80b1ff;
  color: #bbefff;
  color: #99e2ff;
} */