.infoHeader {
    display: inline-flex;
    align-items: center;
    padding-bottom: 1rem;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid var(--color-border);
}

.pixelLarge {
    width: 2.5rem;
    height: 2.5rem;
    min-height: 2.5rem;
    min-width: 2.5rem;
    border-radius: 8px;
}

.flashy {
    animation: flashy 2s linear infinite; 
}

@keyframes flashy {
    0% {background-color: red;}
    25% {background-color: yellow;}
    50% {background-color: green;}
    75% {background-color: blue;}
    100% {background-color: red;}
}

.dead {
    background-color: black;
}

.name,
.position {
    font-family: Inter-Bold, sans-serif;
    margin: 0 1rem;
    padding: 0;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.75rem;
    border-bottom: 1px solid var(--color-border);   
    margin: 0.75rem 0;
}

.stats p {
    margin: 0.5rem 0;
}

.position span,
.sales span,
.owner span {
    font-family: Inter-Bold, sans-serif;
    padding: 0px;
    margin: 0px;
}

.owner {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.addressContainer {
    display: flex;
    align-items: center;
    min-width: 0;
    margin-top: -3px !important;
}

.address {
    flex: 1;
    padding-right: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.copy {
    box-sizing: border-box;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-card-background);
    border-radius: 20px;
    border: 1px solid var(--color-border);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.copy:hover {
    border-color: white;
}

.copy > svg {
    margin: 0.3rem;
}

.copy:active > svg {
    fill: white;
}

.attributes {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.5rem, 1fr));
    grid-gap: 1rem;
}

@media (max-width: 650px) {
    .stats {
        grid-template-columns: 1fr;
    }
}