@import url(sanitize.css);

@font-face {
  font-family: "8bitlim";
  src: local("8bitlim"), url(./fonts/8bitlim.woff2) format("woff2"), url(./fonts/8bitlim.woff) format("woff"), url(./fonts/8bitlim.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0025-00FF;
}

@font-face {
  font-family: 'OxaniumVF';
  src: local('OxaniumVF'), url(./fonts/OxaniumVF.woff2) format("woff2"), url(./fonts/OxaniumVF.woff) format("woff"), url(./fonts/OxaniumVF.ttf) format("truetype");
  src: url(./fonts/OxaniumVF.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0025-00FF;
}

  * {
    box-sizing: border-box;
  }
  

  /* #3f3f3f */
  html {
  --color-text: white;
  --color-background:#8c8cf7;
  --color-background2: #26264b;
  --color-card-background: #8c8cf7;
  --color-dark: #7373e0;
  --color-light: #8c8cf7;
  --color-very-light: #9e9ef8;
  --color-soft-text: #d3d3fd;
  --color-link-color: #0af;
  --color-border: #374251;
  --color-success: #4CAF50;
  --color-error: #F44336;
  --color-notification: #2196F3;
  font-size: 16px;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  width: 100%;
  color: white;
  font-family: 'OxaniumVF', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0 !important;
  background-color: transparent;
}

button {
  font-weight: 700;
  font-size: 0.875rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: white;
  background-color: var(--color-background2);
  border: 3px solid var(--color-dark);
  box-shadow: 0 1px 1px rgb(18 21 26 / 8%);
}

button:hover,
button:active {
  background-color: var(--color-dark);
}

button:disabled {
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-gray-200);
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigWhiteText {
  color: white;
  font-size: 2rem;
}

@media (max-width: 500) {
  .html {
    font-size: 13px;
  }
}